*{
	padding: 0;
	margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow: auto;
	background: linear-gradient(45deg, #131, #0000FF);
	padding: 0px;
	background-image: url("https://wallpaperaccess.com/full/5574383.jpg		");
}

.navbar{
	display: block;
	float: left;
	overflow:hidden;
	position: fixed; 
	top: 0; 
	width: 100%;
	text-align: center;
	left: 0;
}
figure{
    padding: 9px;
	height: 80px;
	display: block;
	top: 1; 
	text-align: center;
	width: 100%;
	color: white;
	background-color:darkgreen;
	left: 0;
}

.container{
	color: bisque;
    height: 350px;
	margin-top: 3px;
    width: 100vw;
	top: 30;
    display:block;
    padding: 0 3rem;
	border-radius: 10px;
	overflow: hidden;
    background-color: rgb(23, 49, 75);

}
.mb-3 {
    margin-top: 20px;
    padding: 4px;
}
